@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
body{
  width: 50%;
  margin: 0 auto;
  /* background-color: black; */
}
header{
  text-align: center;
  justify-content: center;
}
.heading{
  font-family: 'Raleway', sans-serif;
  padding: 2rem 0;
  font-weight: 200;
  font-size: 3.5rem;
  color: rgb(33, 33, 33);
}
.heading2{
  font-family: 'Raleway', sans-serif;
  padding: 2rem 0;
  font-weight: 300;
  font-size: 3.5rem;
  color: rgb(33, 33, 33);
}
.inpform{
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  color: rgb(33, 33, 33);
  border-style: none;
  border-bottom: 1px solid rgb(33, 33, 33);
  outline: none;
}
.tododo{
  padding-top: 1rem;
}

.lists{
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  /* border: 1px solid black; */
  box-shadow: 0 3px 10px rgba(65, 65, 65, 0.2);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  margin: 0.5rem auto;
  padding: 0.15rem 0.15rem;
  cursor: pointer;
}
ul{
  padding-left: 0;
}
.icon{
  color: rgb(63, 63, 63);
  float: right;
  padding: 0rem 0.20rem;
}
.binn{
  color: rgb(184, 46, 46);
  cursor: pointer;
}
.penn{
  cursor: pointer;
}
.checkspan{
  padding-right: 0.25rem;
}
.check{
  color: rgb(0, 151, 0);
}
.edit_todo{
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1rem;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
  outline: none;
}
.edit-form{
  width: 80%;
  font-size: 1rem;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
}
span:hover i{
  transform: scale(1.1);
  
}
@media(max-width: 600px)
{
  html{
    font-size: 70%;
  }
}

